.DS_Store
*.so
*.pyc
._*
.nfs.*
*~
*.orig
*.rej
*.exe
.*.swp
core
*.cgo*.go
*.cgo*.c
_cgo_*
_obj
_test
_testmain.go

/VERSION.cache
/bin/
/build.out
/goinstall.log
/test.out
/test/garbage/*.out
/test/pass.out
/test/run.out
/test/times.out

data/
scripts/
summary.txt
